<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>pubmed-article demo</title>
    <script src="../webcomponentsjs/webcomponents.js"></script>
    <link rel="import" href="pubmed-article.html">
    <link rel="stylesheet" href="demo.css">
  </head>
  <body unresolved>
    <h2>A PubMed article with a DOI</h2>
    <pubmed-article doi="10.1371/journal.pgen.1004432"></pubmed-article>

    <h2>A PubMed article with a PMID, showing links</h2>
    <pubmed-article pmid="24901476" showLinks></pubmed-article>
  </body>
</html>
